{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container mt-5">
    <div class="row">
        <div class="col-4 text-center">
            <img src="{% static 'images/nobody.jpg' %}" width="75%">
        </div>
        <div class="col-8">
            <!-- Title goes between these h2 tags -->
            <h2>{{ about.title }} About Kelly</h2>
            <!-- Content goes directly underneath this -->
            {{ about.content | safe }}
            <p>Hello! I'm Máiréad Kelly, a soon-to-be Full Stack Software Developer with a diverse background that keeps
                life interesting. I started my career as an IT Technician, where I learned that patience is indeed a
                virtue—especially when dealing with printers. From there, I levelled up to a Network Administrator,
                making sure all the bits and bytes behaved themselves. In a plot twist worthy of a blockbuster, I
                switched gears and donned a chef's apron for a few years.
                While my soufflés were hit or miss, I mastered the art of multitasking and learned that a well-cooked
                meal can fix almost anything. My journey then took a managerial turn, and I
                found myself juggling the complexities of operations management, where I quickly discovered that
                spreadsheets are not as fun as they look.
                Now, blending my technical expertise with a sprinkle of culinary creativity, I'm diving into the world
                of Full Stack Development. I'm passionate about building robust, user-friendly applications that make
                life easier—or at least more entertaining.
                When I'm not coding, you can find me experimenting in the kitchen, exploring the great outdoors, or
                tinkering with the latest tech gadgets. </p>
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <!-- Updated on field goes in here -->
            <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
        </div>
    </div>
</div>
{% endblock content %}